input[type=text] {
  background: transparent;
  outline-width: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-name {
  margin-top: 1.4vw;
  width: 250px;
  background-color: rgb(24, 24, 24);
  /*teste*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border-bottom: #008CBA 1px;
}

.input-name svg {
  margin-left: 5px;
  margin-right: 5px;
}