.field-recover {
    width: 30vw;
    height: 100vh;
    max-width: 30vw;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

.field-recover li {
    background-color: black;
    margin-top: 15px;
    cursor: pointer;
    font-size: 0.7rem;
    list-style: none;
}

.field-recover a {
    text-decoration: none;
    background-color: transparent;
}

.field-recover a:hover {
    color: #008CBA;
}

.title-recover {
    margin-top: 12vw;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(#008CBA, rgb(41, 41, 41));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.area-recover {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.area-button {
    background-color: black;
    margin-top: 1vw;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botton-recover {
    display: flex;
    background-color: transparent;
    justify-content: right;
    width: 250px;
}